body {
  font-family: arial, sans-serif;
}

a {
  color: blue;
}

#header h1 a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4 {
  margin-bottom: 0;
}

#header {
  background-color: #ddd;
  border-left: 10px solid #000;
  overflow: hidden;
  padding: 7px;
  margin-top: 5px;
}

#header h1 {
  font-size: 20px;
  float: left;
  vertical-align: middle;
  margin: 0;
  padding: 0 0 0 .3em;
}

#header li {
  font-size: 14px;
  display: inline;
  padding: .5em;
}

#header ul {
  display: inline;
  text-align: right;
  list-style: none;
  float: right;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

#header li a.selected {
  color: black;
  text-decoration: none;
}

#footer {
  background-color: #ddd;
  overflow: hidden;
  padding: 2px;
  margin-top: 5px;
}