{% extends "_base.htm" %}
{% block title %}
  Permalink
{% endblock %}
{% block content %}
<div id="">
<h2>Ad hoc URL shortening.</h2>

<div id="short-url">
<form method="post" action="/create">
<fieldset>
<legend>Shorten this.</legend>
<table>
<tr>
<td>URL:</td><td><input type="text" name="url" size="128" /></td>
</tr>
<tr>
<td>Alias (optional):</td><td>http://permalink.com/ <input type="text" name="alias" /></td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Submit"></td>
</tr>
</table>
</fieldset>
</form>
</div>
</div>

<div>
<h2>Register for Content Cataloging</h2>
</div>

{% endblock %}


