{% extends "_base.htm" %}
{% block title %}
  Perma-link
{% endblock %}
{% block content %}


<div id="">
<h2>Ad hoc URL shortening.</h2>
<blockquote>
I've shortened {{ total }} links.
</blockquote>

<div id="short-url">
<form method="post" action="/create">
<fieldset>
<legend>Shorten this:</legend>
<table>
{% ifnotequal error None %}
<tr>
  <td colspan="2">{{ error }}</td>
</tr>
{% endifnotequal %}
<tr>
<td>URL</td><td><input type="text" name="url" size="64" /></td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Submit"></td>
</tr>
</table>
</fieldset>
</form>
</div>
</div>


<h2>Toolbar shortcut</h2>
Click and drag link to your toolbar.
<blockquote>
<a href="javascript:(
  function(to,p) {
    var myForm=document.createElement('form');
    myForm.method='post';
    myForm.action=to;
    for (var k in p) {
      var myInput=document.createElement('input');
      myInput.setAttribute('name',k);
      myInput.setAttribute('value',p[k]);
      myForm.appendChild(myInput);
    }
    document.body.appendChild(myForm);
    myForm.submit();
    document.body.removeChild(myForm);
  })('{{ domain }}/create',{url:encodeURIComponent(location.href)});">Permalink</a>
</blockquote>

{% endblock %}
