{% extends "_base.htm" %}
{% block title %}
  Perma-link {{ shortcut }}
{% endblock %}
{% block content %}

<h2>Shortcut link was created!</h2>
<div class="spacer">&nbsp;</div>
<div class="url">
The following URL:<br/>
<blockquote>
<strong>{{ url }}</strong>
</blockquote>
</div>

<div class="shortcut">
Can be reached via:<br/>
<blockquote>
<strong>{{ domain }}/{{ shortcut }}</strong>&nbsp;{<a href="/{{ shortcut }}" target="_blank">open in new window</a>}
</blockquote>
</div>

<div class="clipboard">
<script type="text/javascript">
//<[![CDATA[

    function copyIntoClipboard(text) {

        var flashId = 'flashId-HKxmj5';

        var clipboardSWF = '/static/clipboard.swf';

        if(!document.getElementById(flashId)) {
            var div = document.createElement('div');
            div.id = flashId;
            document.body.appendChild(div);
        }
        document.getElementById(flashId).innerHTML = '';
        var content = '<embed src="' + 
            clipboardSWF +
            '" FlashVars="clipboard=' + encodeURIComponent(text) +
            '" width="0" height="0" type="application/x-shockwave-flash"></embed>';
        document.getElementById(flashId).innerHTML = content;
    };

    copyIntoClipboard("{{domain}}/{{ shortcut }}");
//]]>
</script>
<strong>This shortcut link has been copied to your clipboard.</strong>
</div>

<div class="spacer">&nbsp;</div>

<div class="info-tab">
For more information on this link's usage:<br/>
<blockquote>
<a href="/info/{{ shortcut }}">{{ domain }}/info/{{ shortcut }}</a>
</blockquote>
</div>

<div id="">
<h2>Ad hoc URL shortening.</h2>

<div id="short-url">
<form method="post" action="/create">
<fieldset>
<legend>Shorten this:</legend>
<table>
{% ifnotequal error None %}
<tr>
  <td colspan="2">{{ error }}</td>
</tr>
{% endifnotequal %}
<tr>
<td>URL</td><td><input type="text" name="url" size="64" /></td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Submit"></td>
</tr>
</table>
</fieldset>
</form>
</div>
</div>

{% endblock %}

